@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-primary: #181818;
  --foreground-secondary: #34363a;
  --background-primary: #e6e6e6;
  --background-secondary: #dddddd;
  --background-card: #ddddddaa;
  --accent-primary: #2d53b3;
  --accent-secondary: #A19F9F;
}

[data-theme="dark"] {
  --foreground-primary: #e6e6e6;
  --foreground-secondary: #dddddd;
  --background-primary: #181818;
  --background-secondary: #34363a;
}

body {
  @apply bg-background-primary text-foreground-primary;
  background-image: url(/assets/images/bg.webp)
}

main {
  @apply h-screen w-screen;
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
